<nav>
    <ul class="nav nav-fill">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Na temat</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Pierwszej wizyty</a>
                <a class="dropdown-item" href="#">Mojej osoby</a>
                <a class="dropdown-item" href="#">Mojej twórczości</a>
                <a class="dropdown-item" href="#">Samego bloga</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Seria: Wieczna walka</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/book/poczatek">Tom I - Początek</a>
                <a class="dropdown-item" href="/book/mrok_pod_ziemia">Tom II - Mrok pod ziemią</a>
                <a class="dropdown-item" href="#">Tom III - Mroźne szczyty</a>
                <a class="dropdown-item" href="#">Tom IV - Wiek Ciemności</a>
                <a class="dropdown-item" href="#">Tom V - Historia powtórna</a>
                <a class="dropdown-item" href="#">Tom VI - Wiekszy zły</a>
                <a class="dropdown-item" href="#">Tom VII - Prawdziwe oblicze</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">WW: Materiły dodatkowe</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mapa świata</a>
                <a class="dropdown-item" href="#">Uniwersum</a>
                <a class="dropdown-item" href="#">Wydarzenia</a>
                <a class="dropdown-item" href="#">Legendy</a>
                <a class="dropdown-item" href="#">Magia</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Księgarnia ksiąg
                prawdziwych</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tom I - Prawd początek</a>
            </div>
        </li>

        {% include "./themes.html" %}

    </ul>
    <hr>
</nav>