<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dostosuj</a>
    <div class="dropdown-menu">
        <button type="button" id="light" class="btn btn-outline-secondary dropdown-item"><a>Jasny</a></button>
        <button type="button" id="dark" class="btn btn-outline-secondary dropdown-item"><a>Ciemny</a></button>
        <button type="button" id="sepia" class="btn btn-outline-secondary dropdown-item"><a>Sepia</a></button>
        <button type="button" id="inc-font" class="btn btn-outline-secondary dropdown-item"><a>Zwiększ</a></button>
        <button type="button" id="dec-font" class="btn btn-outline-secondary dropdown-item"><a>Zmniejsz</a></button>
    </div>
</li>